/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    text-align: right;
    font-size: 9px;
    bottom: 2px;
}

/* Extra styles */
.x-form-multi {border-color:red;}

.x-btn .login {
	background-image: url(img/silk/door_in.png);
}

.x-btn .logout {
	background-image: url(img/silk/door_out.png);
}

.x-grid3-cell-inner, .x-grid3-hd-inner {
  white-space: normal; /* changed from nowrap */
}

.x-panel-header-text {
	font-size: 15px;
	color: white;
	font-weight: bolder;
	font-family: tahoma,arial,verdana,sans-serif;
}

.x-panel-collapsed .x-accordion-hd .x-tool-toggle {
    background-image: url(img/panel/plus-white.png);
    background-position: 0 0;
    padding: 2px;
}

.x-accordion-hd .x-tool-toggle {
    background-image: url(img/panel/minus-white.png);
    background-position: 0 0;
    padding: 2px;
}

#gtInfoCombobox {
	height:28px;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	font-family: tahoma,arial,verdana,sans-serif;
	background-image: url();
	border-color: #FFFFFF;
	border: 0px;
}

#gtSearchCombobox {
	border: 2px solid; 
	width: 400px; 
	height: 30px; 
	font-size: 16px;
	font-family: tahoma,arial,verdana,sans-serif;
}