/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    text-align: right;
    font-size: 9px;
    bottom: 2px;
}

/* Extra styles */
.x-form-multi {border-color:red;}

.x-btn .login {
	background-image: url(img/silk/door_in.png);
}

.x-btn .logout {
	background-image: url(img/silk/door_out.png);
}

.x-grid3-cell-inner, .x-grid3-hd-inner {
  white-space: normal; /* changed from nowrap */
}

.x-panel-header-text {
	font-size: 15px;
}